body {
	margin: 0;
	font-family: "Lato", sans-serif;
  }
  
  .sidebar {
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
	position: fixed;
	height: 100%;
	overflow: auto;
  }
  
  .sidebar a {
	display: block;
	color: black;
	padding: 16px;
	text-decoration: none;
  }
   
  .sidebar a.active {
	background-color: #4CAF50;
	color: white;
  }
  
  .sidebar a:hover:not(.active) {
	background-color: #555;
	color: white;
  }
  
  div.content {
	margin-left: 200px;
	padding: 1px 16px;
	height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
	.sidebar {
	  width: 100%;
	  height: auto;
	  position: relative;
	}
	.sidebar a {float: left;}
	div.content {margin-left: 0;}
  }
  
	img{
		width:50%;
	  }

	  table {
		font-family: 'Arial';
		margin: 25px auto;
		margin-right: 10px;
		margin-left: 250px;
		
		border: 1px solid #eee;
		border-bottom: 2px solid #00cccc;
		
		}
		th, td {
		  color: #999;
		  border: 1px solid #eee;
		  padding: 12px 35px;
		  border-collapse: collapse;
		}
		th {
		  background: #00cccc;
		  color: #fff;
		  text-transform: uppercase;
		  font-size: 12px;
		 
		}
		img{
			width:50%;
		  }  
		 